/.bashrc
/.cache
/.config
/.idea
/.ipython
/.lightning_studio
/.lightningignore
/.nv
/.vimrc
/.vscode
/.zcompdump
/.zsh_history
/.zshrc
/.condarc
/.gitconfig
/.hushlogin
/.jupyter
/.docker
/.local
/.oh-my-zsh
/.profile
/.ssh
/.sudo_as_admin_successful
/out
/checkpoints